{{#bs-form model=this action="sentMessage" classNames ="contact-us-form"}}
	{{bs-form-element controlType="text"  hasLabel=false label="Full Name" placeholder="Full Name" property="fullname" classNames ="input-row"}}
	{{bs-form-element controlType="email"  hasLabel=false label="Email" placeholder="Email" property="email" classNames ="input-row"}}
	{{bs-form-element controlType="text"  hasLabel=false label="Email Title" placeholder="Email Title" property="title" classNames ="input-row"}}
	{{bs-form-element controlType="textarea"  hasLabel=false label="Content" placeholder="write your message on here" property="content"}}	
	
	<button class="btn btn-primary pull-right" disabled={{loadding}} type="submit">
		{{#if loadding}}<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{/if}}
		Send
	</button>
	<br/>
	<br/>
{{/bs-form}}