{{#bs-form  model=this action="submit"}}
<div class="row service-item-row">
		<div class="js-dragHandle dragHandle"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
	  	<div class="col-sm-4">
	  		{{bs-form-element controlType="text" hasLabel=false label="" placeholder="Song" property="title"}}
	  	</div>
	  	<div class="col-md-offset-2 col-sm-4">
	  		<a href="{{serviceItem.fullYoutubeUrl}}" class="link" target="_blank">Listen</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  		<a href="{{serviceItem.fullChordsUrl}}" class="link" target="_blank">Chords</a>
	  	</div>
	  	<div class="col-sm-2 action">
	  		<a class="edit" href="#" {{action "editSong" serviceItem}}><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;
	  		<a class="remove" href="#" {{action "removeServiceItem" serviceItem}}><i class="fa fa-times"></i></a>
	  	</div>
</div>
{{/bs-form}}