{{#bs-form  model=this action="submit"}}
<div class="row">
	  	<div class="col-sm-3">	  		
	  		{{bs-form-element controlType="text" hasLabel=false label="" placeholder="FullName" property="name"}}
	  	</div>
	  	<div class="col-sm-3">
	  		{{bs-form-element controlType="text" hasLabel=false label="" placeholder="Phone Number" property="phoneNumber" classNames ="phonenumber"}}
	  	</div>
	  	<div class="col-sm-2">
	  		{{!bs-select content=PhoneServices value=selectedName}}

	  		{{bs-form-element controlType="select" hasLabel=false label="" 
	  			choices=PhoneServices 
	  			choiceValueProperty="key" 
	  			choiceLabelProperty="value"
	  			placeholder="Phone Service" property="phoneTypeRow"}}
	  	</div>
	  	<div class="col-sm-3">
	  		{{bs-form-element controlType="text" hasLabel=false label="" placeholder="Email" property="email"}}
	  	</div>
	  	<div class="col-sm-1">
	  		<a href="#" {{action "removeMusician" musician}}><i class="fa fa-times"></i></a>
	  	</div>
</div>
{{/bs-form}}