<div id="dashboard-menu">    
    <ul>
        <li><a href="#1" {{action 'createEvent'}}>Schedule an event</a></li>
        <li><a href="#2" {{action 'manageMusicians'}}>Create/manage musicians</a></li>
        <li><a href="#3" {{action 'myAccount'}}>My account</a></li>
        <li><a href="#3" {{action 'contactus'}}>Contact us</a></li>
        <li><a href="#3" {{action 'logout'}}>Log out</a></li>
    </ul>    
</div>
{{#if showAlert}}
<div class="notification-contianer">
	{{#if showdisalbealertbtn}}
		<div class="close-alert">
			<a class="remove" href="#" {{action "hideAlert"}}><i class="fa fa-times"></i></a>
		</div>
	{{/if}}	
    {{alertText}}
</div>
{{/if}}