{{partial "partial/landing-header"}}
<div class="main-container row">
	<div class="calendar-container">
		<div class="calendar-body">
			{{partial "partial/dashboard-calendar"}}
		</div>		
	</div>
	<div class="menu-container">
		{{partial "partial/dashboard-menu"}}
	</div>
</div>
{{#if loading}}
	{{loading-container}}
{{/if}}
{{#bs-modal title="Change Payment Information" open=crediticardModalView footer=false backdropClose=false}}	
	{{#if crediticardModalView}}
		{{crediticard-form requiredcard=true modalclose=(action "creditiCardModalClose") showNotification=(action "showNotification")}}
	{{/if}}
{{/bs-modal}}