{{loading-slider isLoading=loading duration=2500}}

{{partial "partial/landing-menu"}}


<div id="page-wrapper">
    <!-- Header -->
    {{partial "partial/landing-header"}}

    <!-- Banner -->
    {{partial "partial/landing-banner"}}

    <!-- WORSHIP -->
    {{partial "partial/landing-worship"}}

    <!-- Pricing -->
    {{partial "partial/landing-pricing"}}

    <!-- CTA -->
    {{partial "partial/landing-cta"}}

    <!-- Footer -->
    {{partial "partial/landing-footer"}}
</div>